/* main color: #272950 */

body {
	color: #fffae3;
	background-color: var(--main-color);
}

.header {
	padding: 15px 0;
	background: var(--main-color);
}

.header .profile-image {
	width: 20%;
	height: 20%;
	margin-right: 80px;
	margin-left: 5%;
}

.header .profile-content .name {
	color: #49515a;
	font-size: 24pt;
	margin-bottom: 5px;
	margin-top: 20px;
}

.jumbotron {
	background-color: var(--secondary-color);
}

.profile-full {
	display: flex;
}

.profile-content {
	color: #49515a;
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
}