<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Battlepersonal Site</title>

		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="icon" type="image/png" href="./assets/profile.png" />
	</head>

	<body>
		<div class="sidenav">
			<a href="#">About</a>
			<a href="#">Services</a>
			<a href="#">Clients</a>
			<a href="#">Contact</a>
		</div>
		  
		<!-- <header class="header">
			<div class="container-fluid">
				<div class="jumbotron profile-full">
					<img
						src="./assets/profile.png"
						alt="Battleman"
						class="profile-image img-fluid"
					/>
					<div class="profile-content">
						<h1 class="name">Zach Battleman</h1>
						<h2 class="description">REEEEEEEEEE</h2>
					</div>
				</div>
			</div>
		</header> -->

		<div class="container">
			<div class="row row1">
				<div class="col-md-8 col-sm-6 order-1">
					<section class="about section">
						<div class="section-inner">
							<h2 class="about-intro section-header">
								Heyyo! I'm Zach!
							</h2>
							<p class="about-desc">
								I grew up in Dublin. I was a potato farmer.
								Everynight I would go to the pub and drink ale
								and dance jigs. I grew up in Dublin. I was a
								potato farmer. Everynight I would go to the pub
								and drink ale and dance jigs.I grew up in
								Dublin. I was a potato farmer. Everynight I
								would go to the pub and drink ale and dance
								jigs.I grew up in Dublin. I was a potato farmer.
								Everynight I would go to the pub and drink ale
								and dance jigs.I grew up in Dublin. I was a
								potato farmer. Everynight I would go to the pub
								and drink ale and dance jigs.I grew up in
								Dublin. I was a potato farmer. Everynight I
								would go to the pub and drink ale and dance
								jigs.I grew up in Dublin. I was a potato farmer.
								Everynight I would go to the pub and drink ale
								and dance jigs.I grew up in Dublin. I was a
								potato farmer. Everynight I would go to the pub
								and drink ale and dance jigs.I grew up in
								Dublin. I was a potato farmer. Everynight I
								would go to the pub and drink ale and dance
								jigs.I grew up in Dublin. I was a potato farmer.
								Everynight I would go to the pub and drink ale
								and dance jigs.I grew up in Dublin. I was a
								potato farmer. Everynight I would go to the pub
								and drink ale and dance jigs.I grew up in
								Dublin. I was a potato farmer. Everynight I
								would go to the pub and drink ale and dance
								jigs.
							</p>
						</div>
					</section>

					<section class="section projects">
						<div class="section-inner">
							<h2 class="project-intro section-header">
								Personal Projects I'm Proud of ^^
							</h2>
						</div>
					</section>
				</div>

				<div class="col-md-4 col-sm-6 order-2 =">
					<section class="goals section">
						<div class="section-inner">
							<h2 class="goals-intro section-header">
								Personal Goals:
							</h2>
							<ul class="goal-list">
								<div class="goal">
									<li class="">
										Read 20 books while in Quarantine
									</li>
									<progress
										class="book-progress"
										max="20"
										value="3"
									></progress>
								</div>
								<div class="goal">
									<li class="">
										Get S1gm0id top 100 globally
										<progress
											class="sig-progress"
											max="100"
											value="80"
										></progress>
									</li>
								</div>
								<div class="goal">
									<li class=""></li>
								</div>
								<div class="goal">
									<li class=""></li>
								</div>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
